<?xml version="1.0"?>
<launch>
    <!--Launch Realsense-->
    <include file="$(find realsense2_camera)/launch/realsense2.launch"/>

    <!--object detection-->
    <node pkg="tensorflow_object_detection_tx2" type="tensorflow_object_detection_ros.py" name="tensorflow_object_detection_realsense2" output="screen" >
        <remap from="/image" to="/camera2/color/image_raw" />
        <remap from="/object_image" to="/object_image/2" />
        <remap from="/object_info"  to="/object_info/2" />
    </node>
</launch>
